<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @issue.project_id %>
</p>

<p>
  <strong>Tracker:</strong>
  <%= @issue.tracker_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @issue.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue.status_id %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @issue.priority_id %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @issue.due_date %>
</p>

<p>
  <strong>Author:</strong>
  <%= @issue.author_id %>
</p>

<p>
  <strong>Assigned to:</strong>
  <%= @issue.assigned_to_id %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
